*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #dea16a , #c19dc9);
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    padding: 16px;
    background-color: white;
    border-radius: 42px;
    text-align: center;
}

input[type=text], input[type=password], input[type=name] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 30px;
    font-size: medium;
}

input[type=text]:focus, input[type=password]:focus, input[type=name]:focus {
    background-color: #ddd;
    outline: none;
}

.select-style select {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 30px;
    font-size: medium;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
}

.submit-button:hover {
    opacity: 1;
}

button[type=submit]:focus {
    background-color: #898989;
    outline: none;
}

a {
    color: dodgerblue;
}

.signin {
    text-align: center;
    color: #878787;
}

h2 {
    text-align: center;
}

.centered-p {
    text-align: center;
}